.box{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 2px solid black;
}

.boxes{
    border: 2px solid black;
    display: flex;
    /* flex-direction: row-reverse */
    /* flex-direction: column-reverse */
    flex-wrap: wrap;
}

.boxes{
    display: flex;
    /* justify-content: flex-end */
    justify-content: center;
}

.boxes{
    display: flex;
    /* align-items: flex-end */
}

.boxes2{
    flex-grow: 1;
}

.boxes2 .box{
    flex-grow: 2;
}

